.accordion-header .accordion-button {
    background-color: #6c757d; 
    color: white; 
}

.accordion-body {
    background-color: #e9ecef; 
    color: #333; 
}

textarea {
    height: 150px !important;
}